.topic {
    padding-top: 0!important;
}
.main-wrap{
    background-color: #f9fafb;
    padding: 30px 0;
    min-height: 100vh;
}
.lever-employ, .resource-sidebar, .form-add-employee{
    background-color: white;
    border: 1px solid #dfe3e8;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
}
.employ-item{
    border: 1px solid #dfe3e8;
    border-radius: 3px;
    padding: 15px;
    background-color: white;
    margin-bottom: 20px;
}
.employ-item .thumbnail{
    border: none;
    box-shadow: none!important;
}
.employ-item .thumbnail img {
    width: 90px!important;
    height: 90px!important;

}
.main-menu{
    text-align: right;
}
.main-menu ul li{
    list-style: none;
}
.main-menu ul li p{
    float: right;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 1px;
}
.btn-login p{
    background-color: #ea7312;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
}
.topic__infos{
    padding-bottom: 0!important;
    padding-top: 10px!important;
}
.main-menu ul li p:hover, .menu-active{
    background-color: #5d9026;
}
.main-menu ul li a{
    text-decoration: none!important;
}
.level-title, .exp-employ{
    color: #e46c0a;
}
.hourly-rate{
    font-size: 24px;
}
.skill-employ{
    font-weight: normal;
}
.btn-contact-employ{
    margin-top: 20px;
}
.hourly-rate-negotiate{
    font-size: 16px;
}
.position-employ{
    text-transform: uppercase;
}
/*resource*/
.resource-sidebar ul li{
    list-style: none;
    margin-bottom: 15px;
}
.table-bordered{
    background-color: white!important;
}
.no-padding{
    padding: 0!important;
}
.resource-sidebar ul li a{
    color: #afafaf;
}
.menu-sidebar{
    padding-left: 15px;
    font-weight: bold;
}
.menu-sidebar ul span {
   margin-right: 15px!important;
}
.unit-price {
    font-weight: normal;
    font-size: 13px;
}
.img-avatar{
    color: white;
    /*background-color: #0b859c;*/
    padding: 20px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding-top: 35px;
}
.lever-employ, .resource-sidebar{
    border-top: 3px solid #70ac2e;

}
.lever-employ select, .lever-employ input{
    margin-bottom: 15px;
}
.lever-employ .btn-search p{
    background-color: #70ac2e;
    color: white;
    text-transform: uppercase;
    width: 100%!important;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.lever-employ label{
    font-weight: normal!important;
    color: #bdbebf!important;
}
.link-expan-detail {
    cursor: pointer;
    font-size: 13px;
}
.link-selected{
    color: #438606!important;
}
.link-contact{
    font-size: 13px;
    cursor: pointer;
}
/*chat box*/
.chat-box{
    /*height: 350px;*/
    width: 300px;
    /*background-color: grey;*/
    position: fixed;
    right: 50px;
    bottom: 0;
    border: 1px solid #ea7312;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    display: none;
}
.title-chat{
    text-align: center;
    color: white;
    background-color: #ea7312;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 7px;
}
.close-chat {
    cursor: pointer;
    float: right;
}
.content-chat-defaut {
    background-color: #ececec;
    border-radius: 3px;
    color: black;
    padding:15px;
    font-style: italic;
}
/*end chat*/
.btn-approve{
    cursor: pointer;
}
.avt-name-comapy{
    background: #e1e1e1;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 20px;
}